.top-header,
nav ul {
  justify-content: space-between;
  display: flex;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
.card img,
.card1 img,
.log img {
  width: 100px;
}
.top-header img {
  width: 100px;
}
.top-header {
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(19, 18, 18, 0.262);
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 99;
}
nav ul {
  align-items: center;
  gap: 30px;
  font-size: 15px;
}
.login,
.sign {
  padding: 7px 25px;
  border: 1px solid #000;
  border-radius: 8px;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.submit5,
.submit6 {
  width: 150px;
  padding: 10px 25px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #6c63ff;
  color: #000;
}
.login:hover,
.sign:hover,
.submit1:hover,
.submit2:hover,
.submit3:hover,
.submit4:hover,
.submit5:hover,
.submit6:hover,
.submit:hover {
  background-color: #6c63ff;
  color: #fff;
  border-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.right-section img {
  width: 600px;
  padding: 10px 0;
}
.footer-part,
.left-section,
.left-section1,
.right-section2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.left-section h1 {
  font-size: 6rem;
}
.form-heading,
.left-section h4,
.top-header h3 {
  font-size: 2rem;
}
.hero-section span,
.top-header span {
  color: #6c63ff;
}
ul li:hover {
  color: #6c63ff;
  cursor: pointer;
  transition: 0.5s;
}
.form-heading {
  text-align: center;
  padding: 10px 0;
}
.forms {
  border: 1px solid #000;
  padding: 20px 100px;
  border-radius: 8px;
  width: 500px;
  margin: 0 19rem;
  background-image: -webkit-linear-gradient(bottom, #3c38ff, #1bb3f4 100%);
  background-image: linear-gradient(to top, #3c38ff, #1bb3f4 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.cards,
.cards-heading {
  display: flex;
  justify-content: center;
}
.date,
.email,
.time {
  padding: 8px;
  border-radius: 8px;
}
.cards-heading {
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  gap: 10x;
}
.cards-heading h3 {
  text-align: center;
  font-size: 3rem;
}
.cards-heading h1 {
  text-align: center;
  color: #6c63ff;
  font-size: 4rem;
}
.card h1,
.card1 h1,
.card2 h1 {
  font-size: 40px;
}
.submit,
.submit1 {
  padding: 7px 25px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #6c63ff;
  color: #000;
}
.cards {
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
}
.card,
.card1,
.card2,
.meadical-care {
  justify-content: center;
  display: flex;
  text-align: center;
}
.card,
.card1,
.card2 {
  align-items: center;
  gap: 30px;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 50px;
  width: 200px;
}
.card2 img {
  width: 171px;
}
.meadical-care {
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: -200%;
  right: 40%;
}
.medical-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 70px;
  position: relative;
}
.left-right-section1,
.left-right-section2 {
  display: flex;
  justify-content: space-between;
}
.left-right-section1 {
  align-items: center;
  padding: 10px 30px;
  gap: 30px;
}
.right-section1 img {
  width: 45rem;
}
.submit2,
.submit3,
.submit4 {
  width: 150px;
  padding: 7px 25px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #6c63ff;
  color: #000;
}
.about-chef,
.chef {
  padding: 10px 20px;
}
.left-section1 h3,
.right-section2 h3 {
  font-size: 3rem;
  color: #6c63ff;
}
.contact-part h2,
.customer-feedback-heading h2,
.left-section1 h2,
.right-section2 h2 {
  font-size: 3rem;
}
.left-right-section2 {
  align-items: center;
  padding: 10px 20px;
  gap: 50px;
}
.chef,
.footer {
  justify-content: space-between;
  display: flex;
}
.left-section2 img {
  width: 35rem;
}
.right-section3 img {
  width: 300px;
}
.chef {
  align-items: center;
  gap: 30px;
}
.left-section3 {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.customer-feedback-heading h3,
.left-section3 h3 {
  color: #6c63ff;
  font-size: 2rem;
}
.left-section3 h2 {
  font-size: 4rem;
}
.about-chef {
  border: 2px solid #000;
  border-radius: 50px;
  margin: 30px 230px;
  width: 800px;
  height: 350px;
}
.customer-feedback-heading {
  text-align: center;
  margin: 50px 0;
}
.customer1,
.customer2,
.customer3 {
  border: 2px solid #000;
  border-radius: 10px;
  width: 350px;
  height: 150px;
  padding: 10px;
}
.customer1 img,
.customer2 img,
.customer3 img {
  width: 70px;
}
.customer1 p,
.customer2 p,
.customer3 p {
  font-size: 10px;
}
.customer1 h2,
.customer2 h2,
.customer3 h2,
.social-icons {
  font-size: 20px;
}
.customer-feedback {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}
.contact-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.contact-part h3 {
  color: #6c63ff;
  font-size: 3rem;
}
.mail,
.message,
.name {
  padding: 10px 40px;
  border-radius: 20px;
}
.about-chef:hover,
.card1:hover,
.card2:hover,
.card:hover,
.customer1:hover,
.customer2:hover,
.customer3:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
}
.footer {
  align-items: center;
  padding: 100px 20px;
  margin: 50px 0;
  text-align: center;
  background-color: #0c4271;
  color: #fff;
}
.footer-part ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search2 {
  border-radius: 20px;
  padding: 10px 0;
}
.social-icons i:hover {
  transition: 1s;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
}
